<div class= "container">
  <div class = "row">
    <h2 class="title">マイページ</h2>
  </div>
  <h3>
    登録情報
    <%= link_to "編集する", edit_public_customer_path(@customer.id),class: "btn btn-sm btn-success" %>
  </h3>
</div>