<div class= "container">
  <div class= "row">
    <div class= "col-sm-12 col-md-8 col-lg-7 px-7 px-sm-0 col-auto">
      <p><strong>本当に退会しますか？</strong><br>
      退会すると、会員登録情報や<br>
      これまでの購入情報が閲覧できなくなります。<br>
      退会する場合は、「退会する」をクリックしてください。</p>
    </div>
  </div>
</div>